body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  margin-top: 20px;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 20px;
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line-1, .line-2 {
  display: flex;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.flash {
  background-color: white !important;
}
